
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 >Customers</h2>
<table id="myTable" class="table" cellspacing="0">
    <thead>
        <tr>
            <th style="border:dotted 1px white;">
                <p>Id</p>
            </th>
            <th style="border:dotted 1px white;">
                <p>Customers</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr>
            <td style="border:solid 1px white;">
                <p>@customer.Id</p>
            </td>
            <td style="border:solid 1px white;">
                <p>@Html.ActionLink(customer.Name, "Details",
                  new {customerName = customer.Name}, "Customers")</p>
            </td>
        </tr>
        }
    </tbody>
</table>

